.header {
    padding: 40px;
    text-align: left;
    background: red;
    color: white;
    font-size: 30px;
}

.background {
    color: red;
}

#link {
    padding: 10px;
    text-align: right;
}

#alignright {
    text-align: right;
    margin: 10px, 100px;
}

#button {
    margin-top: -500px;
}